/* Dark color scheme */
:root {
  --mdm-bg: rgb(31, 31, 31);
  --mdm-bg-light: rgb(35, 35, 35);
  --mdm-bg-dark: rgb(20, 20, 20);
  --mdm-text: rgb(219, 219, 219);
  --mdm-text-light: rgb(235, 235, 235);
  --mdm-border: rgba(255, 255, 255, 0.1);
  --mdm-filter: invert(1) hue-rotate(180deg);
  --mdm-link: #9d63ee;
}

/* dark mode -button */
.dark-mode-button {
  font-size: 18px;
  text-align: center;
  width: 3rem;
  cursor: pointer;
}
.dark-mode-button:hover {
  background-color: var(--mdm-link) !important;
}

/* background */
body {
  background-color: var(--mdm-bg-dark) !important;
}

/* page cards */
.card,
#page-enrol-users #filterform,
.que .history,
.userprofile .profile_tree section,
.groupinfobox,
.well {
  background-color: var(--mdm-bg-light) !important;
  color: var(--mdm-text) !important;
}

/* Navbar */
body .navbar {
  background-color: var(--mdm-bg) !important;
  color: var(--mdm-text) !important;
}

/* Nav bar buttons */
.navbar-light .navbar-nav .nav-link {
  color: var(--mdm-text) !important;
}

/* Nav drawer toggle button */
.navbar > div > button[data-preference="drawer-open-nav"] {
  color: var(--mdm-text-light) !important;
  background-color: var(--mdm-bg-light) !important;
  border-color: var(--mdm-border) !important;
}
.navbar > div > button[data-preference="drawer-open-nav"]:hover {
  background-color: var(--mdm-bg-dark) !important;
}

/* Nav drawer items */
.list-group .list-group-item {
  background-color: var(--mdm-bg) !important;
  color: var(--mdm-text) !important;
  border-color: var(--mdm-border) !important;
}

/* Current active nav drawer item */
.list-group .list-group-item.active {
  background-color: initial !important;
  color: white !important;
  border-color: transparent !important;
}

/* UTU-logo and Moodle-text */
.navbar-brand {
  filter: var(--mdm-filter);
}

/* Main content window */
#region-main {
  background-color: var(--mdm-bg) !important;
  color: var(--mdm-text) !important;
}

/* Main content article */
.forum-post-container .forumpost {
  border: 1px solid var(--mdm-border) !important;
}

a {
  color: var(--mdm-link) !important;
}

/* Section header text */
.sectionname a {
  color: var(--mdm-text-light) !important;
}

/* Settings dropdown */
.navbar.fixed-top .dropdown .dropdown-menu {
  background-color: var(--mdm-bg) !important;
  color: var(--mdm-text-light) !important;
}

/* Messaging sidebar */
.message-app {
  background-color: var(--mdm-bg-light) !important;
}

/* Messaging page */
#page-message-index #region-main div[role="main"] .message-app.main {
  background-color: var(--mdm-bg) !important;
}

/* Exam question info box */
.que .info {
  background-color: var(--mdm-bg-light) !important;
  color: var(--mdm-text) !important;
  border-color: var(--mdm-border) !important;
}

/* Exam question nav button */
.path-mod-quiz #mod_quiz_navblock .qnbutton {
  background-color: var(--mdm-bg-light) !important;
}

/* Exam question nav button status */
.path-mod-quiz #mod_quiz_navblock .qnbutton.notyetanswered .trafficlight {
  background-color: var(--mdm-bg-light) !important;
}

/* Notifications window */
.popover-region-container {
  background-color: var(--mdm-bg-light) !important;
}

/* Exam summary of previous attempts */
#page-mod-quiz-view .generaltable.quizattemptsummary {
  color: var(--mdm-text-light) !important;
}

/* Table */
.generaltable {
  color: var(--mdm-text) !important;
}
