/* Värit */
:root {
  --mdm-bg: rgb(31, 31, 31);
  --mdm-bg-light: rgb(35, 35, 35);
  --mdm-bg-dark: rgb(20, 20, 20);
  --mdm-text: rgb(219, 219, 219);
  --mdm-text-light: rgb(235, 235, 235);
  --mdm-border: rgba(255, 255, 255, 0.1);
  --mdm-filter: invert(1) hue-rotate(180deg);
  --mdm-link: #9d63ee;
}

/* dark mode -nappi */
.dark-mode-button {
  font-size: 18px;
  text-align: center;
  width: 3rem;
  cursor: pointer;
}

.dark-mode-button:hover {
  background-color: var(--mdm-link) !important;
}

/* tausta */
body {
  background-color: var(--mdm-bg-dark) !important;
}

/* Sivun sisäiset ikkunat */
.card,
#page-enrol-users #filterform,
.que .history,
.userprofile .profile_tree section,
.groupinfobox,
.well {
  background-color: var(--mdm-bg-light) !important;
  color: var(--mdm-text) !important;
}

/* Navigaatiopalkki */
body .navbar {
  background-color: var(--mdm-bg) !important;
  color: var(--mdm-text) !important;
}

/* Navigaatipalkin linkit */
.navbar-light .navbar-nav .nav-link {
  color: var(--mdm-text) !important;
}

/* UTU-logo ja Moodle-teksti */
.navbar-brand {
  filter: var(--mdm-filter);
}

/* Sivun keskellä oleva sisältöikkuna */
#region-main {
  background-color: var(--mdm-bg) !important;
  color: var(--mdm-text) !important;
}

/* */
.list-group .list-group-item {
  background-color: var(--mdm-bg) !important;
  color: var(--mdm-text) !important;
  border-color: var(--mdm-border) !important;
}

/*  */
.list-group .list-group-item.active {
  background-color: initial !important;
  color: white !important;
  border-color: transparent !important;
}

a {
  color: var(--mdm-link) !important;
}

/* Osion otsikon teksti */
.sectionname a {
  color: var(--mdm-text-light) !important;
}

/* Asetusvalikko */
.navbar.fixed-top .dropdown .dropdown-menu {
  background-color: var(--mdm-bg) !important;
  color: var(--mdm-text-light) !important;
}

/* Kokeen kysymyksen infolaatikko */
.que .info {
  background-color: var(--mdm-bg-light) !important;
  color: var(--mdm-text) !important;
  border-color: var(--mdm-border) !important;
}

/* Kokeen kysymyksien navigoinnin nappi */
.path-mod-quiz #mod_quiz_navblock .qnbutton {
  background-color: var(--mdm-bg-light) !important;
}

/* Kokeen kysymyksien navigoinnin nappi */
.path-mod-quiz #mod_quiz_navblock .qnbutton.notyetanswered .trafficlight {
  background-color: var(--mdm-bg-light) !important;
}

/* Pääikkunan artikkeli */
.forum-post-container .forumpost {
  border: 1px solid var(--mdm-border) !important;
}

/* Ilmoitusikkuna */
.popover-region-container {
  background-color: var(--mdm-bg-light) !important;
}

/* Viestitysikkuna */
.message-app {
  background-color: var(--mdm-bg-light) !important;
}

/* Kokeen aiempien kertojen yhteenveto */
#page-mod-quiz-view .generaltable.quizattemptsummary {
  color: var(--mdm-text-light) !important;
}

.no-overflow > .generaltable {
  color: var(--mdm-text) !important;
}

#intro {
  color: initial !important;
}

/* Koko ruudun viestitys-ikkuna */
#page-message-index #region-main div[role="main"] .message-app.main {
  background-color: var(--mdm-bg) !important;
}
